.top_area_wrapper[data-v-a23177ca] {
  padding-top: 109.09px;
}
#top_side_nav_left[data-v-a23177ca] {
  margin-right: auto;
}
img[data-v-a23177ca],
svg[data-v-a23177ca],
video[data-v-a23177ca] {
  pointer-events: none;
}
.homeinvisible[data-v-a23177ca] {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.resetAnalytics[data-v-a23177ca] {
  position: fixed;
  width: 100px;
  height: 100px;
  right: 0;
  bottom: 0;
  z-index: 100;
}
