body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
.layout {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.main-content-schedule{
  font-size: 42px;
  width: 55%;
  height: 100%;
  font-family: sans-serif;
}

.main-content-schedule-heading{
  color: #0097db;
  margin-top: 20px;
  margin-bottom: 0px;
}

.main-content-schedule-list{
  margin-top: 10px;
  margin-bottom: 60px;
}

.dark-blue{
  color: rgb(11,53, 122);
}

.bolded{
  font-weight: bold;
}

.text-align-center{
  text-align: center;
}

.event-time {
  font-size: 45px;
  vertical-align: top;
  width: 300px;
}

.event-description-title {
  font-size: 50px;
  color: #0097db;
  font-weight: bolder;
}

.event-description-speaker {
  font-size: 40px;
  font-weight: bold;
}

.header {
  position: relative;
}

.banner {
  width: 100vw;
}

.back-arrow {
  top: -70px;
  left: 60px;
  width: 120px;
  position: absolute;
}

.main-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
