body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}
.layout {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.table {
  font-size: 42px;
  width: 55%;
  height: 100%;
  font-family: sans-serif;
}

.table-row {
  height: 250px !important;
}

.event-description {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.event-time {
  font-size: 45px;
  vertical-align: top;
  width: 300px;
}

.event-description-title {
  font-size: 50px;
  color: #0097db;
  font-weight: bolder;
}

.event-description-speaker {
  font-size: 40px;
  font-weight: bold;
}

.header {
  position: relative;
}

.banner {
  width: 100vw;
}

.back-arrow {
  top: -70px;
  left: 60px;
  width: 120px;
  position: absolute;
}

.main-content {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
